* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font-family: 'Roboto', sans-serif;

.My-bold {
    font-weight: bold;
}

.black {
    color: black;
}


.blue {
    color: blue;
}

/* NAVBAR */

#no-pd {
    margin-bottom: 0;
}

.navbar-brand img {
    height: 100%;
}

.navbar-nav li a {
    padding: 0;
    padding-top: 15px;
    margin-right: 10px;
}

.navbar-right button {
    padding: 5px;;
    margin-top: 10px;
}

.btg-Vin {
    border: 1px solid #006AFF;
    color: #006AFF;
}

/* SECTION WELCOME */

.welcome {
    background-color: #0062FF;
    color: white;
}

.text-margin-up .line-height {
    color: #939eb5;
}

.text-margin-up {
    margin-top: 35px;
}

.text-margin-up .size {
    font-size: 46px;
}

/* JUMBOTRON SECTION WELCOME */

.jumbotron {
    background: white;
}

.-jumb  {
    margin-top: 20px;
}

.line-height {
    line-height: 1.8;
}

.logo-g{
    height: 15px;
    float: left;
    margin-top: 5px;
}

/* SECTION INNOVATIVE */

.innovative {
    background: #f3f5f9;
}

.color-grey {
    font-size: 14px;
    color: #939eb5
}

.logo-zone {

}
