* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

.navbar-brand img {
    height: 100%;
}

.navbar-right button {
    margin-top: 8px;
}

.btg-Vin {
    border: 1px solid #006AFF;
    color: #006AFF;
}

.My-bold {
    font-weight: bold;
    /* color: black; */
}

/* SECTION WELCOME */

.welcome {
    background-color: #0062FF;
    color: white;
}

/* JUMBOTRON SECTION WELCOME */

.jumbotron {
    background: white;
}
.black {
    color: black;
}

.blue {
    color: blue;
}
