* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

font-family: 'Roboto', sans-serif;

.My-bold {
    font-weight: bold;
}

.black {
    color: black;
}


.blue {
    color: blue;
}

.gray {
    color: #939eb5;
}

.white {
    color: white;
}

.green {
    color: #00c8af;
}

.water {
    color: #00c8af;
}
/* NAVBAR */

#no-pd {
    margin-bottom: 0;
}

.navbar-brand img {
    height: 100%;
}

.navbar-nav li a {
    padding: 0;
    padding-top: 15px;
    margin-right: 10px;
}

.navbar-right button {
    padding: 5px;
    margin-top: 10px;
}

.btg-Vin {
    border: 1px solid #006AFF;
    color: #006AFF;
}

/* SECTION WELCOME */

.welcome {
    background-color: #0062FF;
    color: white;
}

.text-margin-up .line-height {
    color: #939eb5;
}

.text-margin-up {
    margin-top: 35px;
}

.text-margin-up .size {
    font-size: 46px;
}

/* JUMBOTRON SECTION WELCOME */

.jumbotron {
    background: white;
}

.-jumb  {
    margin-top: 20px;
}

.line-height {
    line-height: 1.8;
}

.logo-g{
    height: 15px;
    float: left;
    margin-top: 5px;
}

/* SECTION INNOVATIVE */

.innovative {
    background: #f3f5f9;
}

.innovative img {

    margin-top: 30px;
}

.color-grey {
    font-size: 14px;
    color: #939eb5
}

.-view {
    padding-top: 50px;
    padding-bottom: 25px;
}

/* SECTION SCALE */

.pad-12 {
    padding-bottom: 60px;
}

.-size-p {
    font-size: 20px;
    padding-bottom: 60px;
}

.pad-r {
    margin-right: 25px;
}



@media screen and (min-width: 768px) {
    .pad-12 a {
        display: block;
        padding: 15px 10px;
    }

    .height-fix {
        height: 300px;
    }

}

/* SECTION DEVELOPERS */

.developers {
    background: #f3f5f9;
}

.developers h2 {
    margin-top: 35px;
}

.color-spec {
    color: #2f4198;
    font-size: 16px;
}

.fix-h {
    height: auto;
    max-width: 70%;
    margin-top: 60px;
}

.xs {
    font-size: 16px;
    margin-top: 30px;
}

.developers button {
    border: 2px solid blue;
    padding: 4px 4px;
    border-radius: 50%;
    margin-right: 8px;
}

.bg-full {
    background-color: blue;
}

/* SECTION FEATURES */

.features .row {
    margin-bottom: 40px;
}
.features img {
    margin-top: 30px;
}

.arial {
    margin-bottom: 60px;
}

/* SECTION REGIONS */

.regions {
    background-image: url('https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format');
    background-color: #031B4E;

}

.regions h2 {
    margin-top: 40px;
}

table {
    margin: 0 auto;
    width: 100%
}

.up-1, .up-2 {
    margin-bottom: 30px;
}

.white, .gray, .green {
    padding: 5px;
}

.border-boot {
    border-bottom: 1px solid white;
}

.regions a {
    float: right;
}

/* SECTION LOVE */

.love {
    background: #f3f5f9;
}

.love h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.card {
    background: white;
    border-radius: 5px;
}

.card img {
    max-width: 100%;
    padding: 35px 0;
}

.black-h {
    font-weight: bold;
}

.read {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m-button button {
    border: 2px solid blue;
    padding: 4px 4px;
    border-radius: 50%;
    margin-right: 8px;
}

.m-button {
    margin-bottom: 30px;
}

/* SECTION NOW */

.now {
    background: #0049ff;
}

.now p {
    font-size: 23px;
}

.now .Mid {
    margin-top: 55px;
    margin-bottom: 35px;
}

/* SECTION FOOTER */

.boo-list {
    background: #010e28;
}
.boo-list li {
    color: #688794;
    list-style-type: none;
    line-height: 1.8;
}

.pad-rrow {
    padding: 0 40px;
}

#bold-w {
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

.foot-end {    
    padding: 20px;
    margin-top: 30px;
}
.boo-list i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    margin-right: 18px;
}
.boo-list i:hover {
    color: white;
}
.marg-top {
    margin-top: 15px;
}
.boo-list p {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    width: calc(100% - 50px);
    padding: 0 15px;
    width: 80%;
    text-align: center;
    line-height: 1;
}
.boo-list img, .boo-list p {
    display: inline-block;
}
@media screen and (max-width: 768px) {
    .boo-list .foot-end {
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    .boo-list p {
        text-align: left;
    }
    .marg-top {
        text-align: right;
    }
}
